html,
body {
    min-height: 100vh;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
}

img {
    max-width: 100%;
}

a {
    color: var(--orange);
    text-decoration: none;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}