// TODO: Desarrollar el CSS para los productos
.products > ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20%;
	margin-right: 20%;
}

.product {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 80% 10% 10%;
	width: calc(30% - 20px);
	height: calc(45vh - 20px);
	margin: 20px auto;
}

.product__img {
	grid-column: 1 / 4;
	grid-row: 1;
}

.product__name {
	grid-column: 1 / 3;
	grid-row: 2;
}

.product__price {
	grid-column: 3;
	grid-row: 2;
	
	text-align: center;
	height: fit-content;
	padding: 5px;
	
	background-color: var(--orange);
	color: var(--black);
	font-weight: bold;
	
	-webkit-transform: rotate(-15deg);
}

.product__button {
	grid-column: 2;
	grid-row: 3;
	
	background-color: var(--black);
	color: var(--white);
	border: 1px solid var(--white);
	border-radius: 5px;
}

.load {
    text-align: center;
}

#cta1 {
	order: 5;
}

#cta2 {
	order: 9;
}

.cta {	
    height: calc(45vh - 20px);
	width: calc(60% - 0px);
    overflow: hidden;
	margin: 20px auto;
	
    display: flex;
    flex-wrap: wrap-reverse;
}

